body{
    margin: 5%;
    margin-top: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 40px;
}

p{
    text-align: justify;
    font-size: 18px;
}

.decor_content{
    width: 115.5%;
    margin-left: -10%;
}


/*top navigation bar*/
.topnav a{
    float: right;
    display: block;
    color: #076365;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #076365;
    color: white;
}


/*home*/
.center{
    position: absolute;
    text-align: center;
    color: #FFFF;
    padding-bottom: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.teks_desc{
    width: 600px;
}

.decoration-img{
    width: 40%;
    position: absolute;
    right: 160px;
    top: 1000px;
}


/*destination*/
.desc-top-destination{
    background-image: url(img/bg_desc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 700px;
}

.tabel-destinasi{
    margin-left: 5%;
    margin-right: 5%;
}

.desc-top-destination ul{
    list-style-type: square;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    margin-left: 5%;
}


/*gallery*/
.table_gallery img{
    width: auto;
    height: 200px;
    margin: 5px;
}

.table_gallery{
    margin-left: 15%;
    margin-right: 15%;
}


/*footer*/
.footer p{
    text-align: center;
    left: 50%;
    margin-bottom: -5%;
}

/*Pesanan*/
input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 100%;
    background-color: rgb(189, 22, 78);
    color: #dddddd;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit] hover{
    background-color: aliceblue;
}
#pesanan{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#pesanan td, #pesanan th {
    border: 1px solid #ddd;
    padding: 8px;
}
#pesanan tr:nth-child(even){
    background-color: #f2f2f2;
}
#pesanan tr:hover{background-color: #ddd;}
#pesanan th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(155, 50, 67);
    color: white;
}
textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
